<!-- Rendering tax-calculation component  -->
<sly data-sly-use.Controller="./scripts/pd-fee-calculator.js"></sly>
<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" />
<sly data-sly-call="${clientLib.all @ categories='cq.pd-fee-calculator'}" />


<div data-sly-test=${wcmmode.edit} data-sly-unwrap> 
    <!-- Default State -->
    <div class="cq-placeholder" data-emptytext="${component.title}"></div>
</div>
<div>
    <sly data-sly-test="${Controller.pdFormType}">
        <sly data-sly-test="${Controller.showButton == 'true'}">
            <button class="switch-view-draft" data-pagePath="${currentPage.contentResource.path}">${controller.buttonText}</button>
             <button class="switch-view-live" data-pagePath="${currentPage.contentResource.path}">Current Calculator</button>
            </sly>
        <div class="${controller.spacing}" data-button="true" id="calculator-init" data-units="${Controller.formValues.unit ? Controller.formValues.unit : 'imperial'}" data-formType="${Controller.pdFormType}">
            <div id="calculator">
                <span id="units-container">
                    <label class="sr-only" for="units">Select which units you prefer for measurements</label>
                    <select id="units">
                        <option value="imperial">Imperial</option>
                        <option value="metric">Metric</option>
                    </select>
                </span>
                <sly data-sly-include="view_${Controller.pdFormType ? Controller.pdFormType : 'commercial'}.html"></sly>
            </div>
        </div>
    </sly>
</div>
