<template data-sly-template.basicPermit="${ @ controller}">
    <div class="container-fluid" id="step2">
        <h2>${controller.formValues.step2Title}</h2>
        <div class="draft draft-text"></div>
        <div class="row header-row">
            <div class="hidden-xs col-sm-3">${controller.formValues.C1title}</div>
            <div class="hidden-xs col-sm-3"></div>
            <div class="hidden-xs col-sm-3">${controller.formValues.C2title}</div>
            <div class="hidden-xs col-sm-3">${controller.formValues.C3title}</div>
        </div>
        <div class="row add-fee">
            <div class="col-xs-12 col-sm-3">
                ${controller.formValues.feeTypeDesc}
            </div>
            <div class="col-xs-12 col-sm-3">
                <sly data-sly-test="${controller.pdFormType=='commercial' || controller.pdFormType=='demolition'}">
                    $ <input class="form-control long-form" type="text" id="${controller.pdFormType}_input"
                        pattern="[0-9]*" inputmode="numeric">
                    <br>
                    <label for="permit_rate_input">
                        <small data-round="${controller.formValues.round}">${controller.formValues.feeInputDesc @ context='html'}</small>
                    </label>
                </sly>
                <sly data-sly-test="${controller.pdFormType=='new_home' || 
                                     controller.pdFormType=='low_rise' || 
                                     controller.pdFormType=='high_rise' || 
                                     controller.pdFormType=='hotels' || 
                                     controller.pdFormType=='careFacilities' ||
                                     controller.pdFormType=='warehouses'}">
                    $ <span class="fees-values previous-total baseFeePrevTotal"></span>
                    <br>
                    <small class="text-center" data-round="${controller.formValues.round}">${controller.formValues.feeInputDesc}</small>
                </sly>

            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <span class="pull-left strong">×</span>
                $ <span class="rates" id="${controller.pdFormType}_rate"
                    data-attr-dfactor="${controller.formValues.ratePerPrice}">${controller.formValues.ratePercent}</span>
                per
                ${controller.formValues.ratePerPrice}
                <span class="pull-right strong">=</span>
            </div>

            <div class="col-xs-12 col-sm-3">
                $ <span class="totals fees-totals zero-total" id="${controller.pdFormType}_permit_rate_total"></span>
                <sly data-sly-test="${controller.pdFormType != 'demolition'}">
                    <small class="na-notice">
                        ${controller.formValues.totalDesc}
                    </small>
                </sly>
                <sly data-sly-test="${controller.pdFormType=='demolition'}">
                    <small>
                        Minimum <span id="bldg_demo_min" data-value="${controller.formValues.demoS1minVal}">${controller.formValues.demoS1minVal}</span>
                         <br>Maximum <span id="bldg_demo_max" data-value="${controller.formValues.demoS1maxVal}">${controller.formValues.demoS1maxVal}</span>
                    </small>
                </sly>
               
            </div>
        </div>

        <sly data-sly-test="${controller.pdFormType=='new_home'}">
            <div class="row add-fee">
                <div class="col-xs-12 col-sm-6">
                    <input type="checkbox" class="fees-values type3" id="ground_work_checkbox">
                    <label for="ground_work_checkbox">${controller.formValues.typeDesc1}</label>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="pull-left strong">+</span>
                    $ <span class="rates" id="ground_work_checkbox_rate">${controller.formValues.rateDesc1}</span>*
                    <span class="pull-right strong">=</span>
                </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span class="totals fees-totals" id="ground_work_checkbox_total"></span>
                </div>
            </div>
            <div class="row add-fee">
                <div class="col-xs-12 col-sm-6">
                    <input type="checkbox" class="fees-values type3" id="temp_heat_checkbox">
                    <label for="temp_heat_checkbox">${controller.formValues.typeDesc2}</label>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="pull-left strong">+</span>
                    $ <span class="rates" id="temp_heat_checkbox_rate">${controller.formValues.rateDesc2}</span>*
                    <span class="pull-right strong">=</span>
                </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span class="totals fees-totals" id="temp_heat_checkbox_total"></span>
                </div>
            </div>
            <div class="row add-fee">
                <div class="col-xs-12 col-sm-6">
                    <input type="checkbox" class="fees-values type3" id="hydronic_heat_checkbox">
                    <label for="hydronic_heat_checkbox">${controller.formValues.typeDesc3}</label>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="pull-left strong">+</span>
                    $ <span class="rates" id="hydronic_heat_checkbox_rate">${controller.formValues.rateDesc3}</span>*
                    <span class="pull-right strong">=</span>
                </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span class="totals fees-totals" id="hydronic_heat_checkbox_total"></span>
                </div>
            </div>
        </sly>
        <div class="row add-fee">
            <div class="col-xs-12 col-sm-6">
                ${controller.formValues.R2feeTypeDesc}
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <span class="pull-left strong">+</span>
                $ <span class="rates"
                    id="${controller.pdFormType}_min_processing_fee">${controller.formValues.R2Rate}</span>
                <span class="pull-right strong">=</span>
            </div>
            <div class="col-xs-12 col-sm-3">
                $ <span class="totals fees-totals" id="${controller.pdFormType}_min_processing_fee_total"></span>
            </div>
        </div>
        <sly data-sly-test="${controller.pdFormType=='new_home'}">

            <div class="row">
                <div class="col-xs-12">
                    <small><strong>*</strong>5% GST is charged on inspections. GST will be added to the TOTAL PERMIT FEE in Step 3 below.</small>
                </div>
            </div>
        </sly>

        <div class="row finals">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-right">${controller.formValues.baseFee}</div>
            <div class="col-xs-12 col-sm-3">$

                <span id="${controller.pdFormType}_base-fee" class="totals total-fee step-total highlight-row"></span>
                <sly data-sly-test="${controller.pdFormType=='new_home'}">
                    <small>
                        Minimum $<span class="min_processing_fee"
                            id="${controller.pdFormType}_procFee">${controller.formValues.baseFeeDesc}</span>
                    </small>
                </sly>
            </div>
        </div>
    </div>
</template>
<template data-sly-template.additionalFee="${ @ controller}">
    <div class="container-fluid" id="step3">
        <h2>${controller.formValues.step3Title}</h2>
        <div class="draft draft-text"></div>
        <div class="row header-row">
            <div class="hidden-xs col-sm-3">${controller.formValues.addC1Title}</div>
            <div class="hidden-xs col-sm-3"></div>
            <div class="hidden-xs col-sm-3">${controller.formValues.addC2Title }</div>
            <div class="hidden-xs col-sm-3">${controller.formValues.addC3Title}</div>
        </div>

        <div class="row ">
            <div class="col-xs-12 col-sm-3">
                ${controller.formValues.addR1typeDesc}
            </div>
            <div class="col-xs-12 col-sm-3">
                $ <span class="fees-values previous-total" id="${controller.pdFormType}_prev_BPT"></span>
                <br>
                <small class="text-center">${controller.formValues.addR1inputDesc}</small>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <span class="pull-left strong">×</span>
                <span class="rates" id="safety_fee_base">${controller.formValues.addR1rateDesc} %</span>
                <span class="pull-right strong">=</span>
            </div>
            <div class="col-xs-12 col-sm-3">
                $ <span class="totals fees-totals" id="safety_fee_base_total"></span>
                <small>
                    Minimum <span id="safety_fee_base_min"
                        data-value="${controller.formValues.addR1minVal}">${controller.formValues.addR1minVal}</span>
                    <br>Maximum <span id="safety_fee_base_max"
                        data-value="${controller.formValues.addR1maxVal}">${controller.formValues.addR1maxVal}</span>
                </small>
            </div>
        </div>

        <sly data-sly-test="${controller.pdFormType=='new_home'}">
            <div class="row ">
                <div class="col-xs-12 col-sm-6">
                    <input type="checkbox" class="fees-values" id="partial_permit_checkbox">
                    <label for="partial_permit_checkbox">${controller.formValues.addpartialtitle}</label>
                    <small>${controller.formValues.addpartialdesc}</small>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="pull-left strong">+</span>
                    $ <span class="rates" data-value="${controller.formValues.addR1partialrateDesc}"
                        id="partial_permit_F2">${controller.formValues.addR1partialrateDesc}</span>
                    <span class="pull-right strong">=</span>
                </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span class="totals fees-totals" id="partial_permit_totalF2"></span>
                </div>
            </div>

            <div class="row ">
                <div class="col-xs-12 col-sm-3 title">
                    ${controller.formValues.feeTypeTitle}
                    <small>${controller.formValues.feeTypeDesc}</small>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <input class="form-control  long-form" type="text" id="lot_grading_input" maxlength="1"
                        pattern="[0-9]*" inputmode="numeric">

                    <label for="lot_grading_input">
                        ${controller.formValues.inputDesc @ context = 'html'}
                    </label>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="pull-left strong">×</span>
                    $ <span class="rates" id="lot_grading_rate" data-value="${controller.formValues.ratePerPrice}">
                        ${controller.formValues.ratePerPrice}
                        / unit
                    </span>
                    <span class="pull-right strong">=</span>
                </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span class="totals fees-totals" id="lot_grading_total"></span>
                </div>
            </div>

            <div class="row ">
                <div class="col-xs-12 col-sm-6">
                    ${controller.formValues.s3typeDesc}
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="pull-left strong">+</span>
                    $ <span class="rates" id="water_fee" data-value="${controller.formValues.s3rateDesc}">${controller.formValues.s3rateDesc}</span>
                    <span class="pull-right strong">=</span>
                </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span class="totals fees-totals" id="water_fee_total"></span>
                </div>
            </div>
        </sly>


        <sly data-sly-test="${controller.pdFormType=='commercial' || 
                                controller.pdFormType=='high_rise' || 
                                controller.pdFormType=='hotels' || 
                                controller.pdFormType=='careFacilities' ||
                                controller.pdFormType=='low_rise' ||
                                controller.pdFormType=='warehouses'}">

            <div class="row ">
                <div class="col-xs-12 col-sm-3 title">
                    ${controller.formValues.addR2typeDesc}
                    <small>${controller.formValues.addR2subDesc}</small>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <input class="form-control  long-form" type="text"
                        id="${controller.pdFormType}_partial_permit_input" maxlength="" pattern="[0-9]*"
                        inputmode="numeric">

                    <label for="partial_permit_input">
                        ${controller.formValues.addR2inputDesc @  context = 'html'}
                    </label>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="pull-left strong">×</span>
                    $ <span class="rates" id="${controller.pdFormType}_partial_permit_rate" data-value="${controller.formValues.addR2rateDesc}">
                        ${controller.formValues.addR2rateDesc}
                    </span>
                    <span class="pull-right strong">=</span>
                </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span class="totals fees-totals" id="${controller.pdFormType}_partial_permit_total"></span>
                    <small>
                        Minimum <span id="${controller.pdFormType}_partial_permit_min" data-min="${controller.formValues.addR2minVal}"
                            data-max="${controller.formValues.addR2maxVal}">${controller.formValues.addR2minVal}</span> <br>Maximum
                        <span id="partial_permit_max">${controller.formValues.addR2maxVal}</span>
                    </small>
                </div>
            </div>

            <div class="row ">
                <div class="col-xs-12 col-sm-3">
                    ${controller.formValues.addR3typeDesc}
                    <small>${controller.formValues.addR3subDesc}</small>
                </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span class="fees-values previous-total" id="${controller.pdFormType}_PPF_total" data-round="${controller.formValues.round}"></span>
                    <br>
                    <small class="text-center">${controller.formValues.addR3inputDesc}</small>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <span class="pull-left strong">×</span>
                    <span class="rates" data-value="${controller.formValues.addR3rateDesc}"
                        id="safety_fee_partial_rate">${controller.formValues.addR3rateDesc}%</span>
                    <span class="pull-right strong">=</span>
                </div>

                <div class="col-xs-12 col-sm-3">
                    $ <span class="totals fees-totals" id="safety_fee_partial_total"></span>
                    <small>
                        Minimum <span id="safety_fee_partial_min" data-min=${controller.formValues.addR3minVal}
                            data-max="${controller.formValues.addR3maxVal}">${controller.formValues.addR3minVal}</span>
                        <br>Maximum <span id="safety_fee_partial_max">${controller.formValues.addR3maxVal}</span>
                    </small>
                </div>
            </div>

            <sly data-sly-test="${controller.pdFormType!='low_rise'}">
                <div class="row ">
                    <div class="col-xs-12 col-sm-3 title">
                        ${controller.formValues.addR4typeDesc}
                        <sly data-sly-test="${controller.pdFormType=='commercial' || 
                                              controller.pdFormType=='high_rise' || 
                                              controller.pdFormType=='careFacilities' ||
                                              controller.pdFormType=='warehouses'}">
                            ${controller.formValues.addR4subDesc}
                        </sly>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input class="form-control  long-form" type="text" id="lot_grading_input" maxlength=""
                            pattern="[0-9]*" inputmode="numeric" data-no-decimals="true">

                        <label for="lot_grading_input">
                            ${controller.formValues.addR4inputDesc @ context='html'}
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center">
                        <span class="pull-left strong">×</span>
                        $ <span class="rates" id="lot_grading_rate_value" data-value="${controller.formValues.addR4rateDesc}">
                            ${controller.formValues.addR4rateDesc}
                            <sly data-sly-test="${ controller.pdFormType=='high_rise' || 
                                                    controller.pdFormType=='hotels' || 
                                                    controller.pdFormType=='careFacilities' ||
                                                    controller.pdFormType=='warehouses'}">

                                / ha
                            </sly>
                        </span>
                        <span class="pull-right strong">=</span>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        $ <span class="totals fees-totals" id="lot_grading_total_value"></span>
                    </div>
                </div>
            </sly>

            <sly data-sly-test="${controller.pdFormType=='low_rise'}">

                <div class="row">
                    <div class="col-xs-12">${controller.formValues.addR4subHead}</div>
                </div>

                <div class="row no-border">
                    <div class="col-xs-12 col-sm-3 title">
                        ${controller.formValues.addR4typeDesc1}
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input class="form-control lowRiseInput long-form" type="text" id="lot_grading_input1"
                            maxlength="1" pattern="[0-9]*" inputmode="numeric">

                        <label for="lot_grading_input">
                            <small>${controller.formValues.addR4inputDesc1 @context='html'}</small>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center">
                        <span class="pull-left strong">×</span>
                        $ <span class="rates" id="lot_grading_input1_rate">
                            ${controller.formValues.addR4rateDesc1}
                            / unit

                        </span>
                        <span class="pull-right strong">=</span>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        $ <span class="totals fees-totals" id="lot_grading_input1_total"></span>
                    </div>
                </div>


                <div class="row no-border">

                    <div class="col-xs-12 col-sm-3 title">
                        ${controller.formValues.addR4typeDesc2}
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input class="form-control lowRiseInput  long-form" type="text" id="lot_grading2_input"
                            maxlength="" pattern="[0-9]*" inputmode="numeric">

                        <label for="lot_grading2_input">
                            <small>${controller.formValues.addR4inputDesc2 @ context='html'}</small>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center">
                        <span class="pull-left strong">×</span>
                        $ <span class="rates" id="lot_grading2_input_rate">
                            ${controller.formValues.addR4rateDesc2}
                            / unit
                            + ${controller.formValues.addR2addedRate}
                        </span>
                        <span class="pull-right strong">=</span>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        $ <span class="totals fees-totals" id="lot_grading2_input_total"></span>
                    </div>
                </div>

                <div class="row no-border">
                    <div class="col-xs-12 col-sm-3 title">
                        ${controller.formValues.addR4typeDesc3}
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input class="form-control  long-form lowRiseInput" type="text" id="lot_grading3_input"
                            maxlength="" pattern="[0-9]*" inputmode="numeric" data-no-decimals="true">

                        <label for="lot_grading3_input">
                            <small>${controller.formValues.addR4inputDesc3 @ context='html'}</small>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center">
                        <span class="pull-left strong">×</span>
                        $ <span class="rates" id="lot_grading3_input_rate">
                            ${controller.formValues.addR4rateDesc3}
                            / ha

                        </span>
                        <span class="pull-right strong">=</span>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        $ <span class="totals fees-totals" id="lot_grading3_input_total"></span>
                    </div>
                </div>

            </sly>

        </sly>


        <div class="row finals">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-right">${controller.formValues.addR4totalText}</div>
            <div class="col-xs-12 col-sm-3">$ <span id="total-fee"
                    class="totals total-fee step-total step3-final-total"></span>
            </div>
        </div>

        <sly data-sly-test="${controller.pdFormType=='new_home'}">
            <div class="row finals">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-right">${controller.formValues.totalGstFee}</div>
                <div class="col-xs-12 col-sm-3">$ <span id="gst" class="totals total-fee"></span> </div>
            </div>
            <div class="row finals">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-right">
                    ${controller.formValues.totalPermitGstFee}
                    <br>
                    <small>(GST included)</small> </div>
                <div class="col-xs-12 col-sm-3">
                    $ <span id="total-fee-inc-gst" class="totals total-fee"></span>
                </div>
            </div>
        </sly>

    </div>
</template>
<template data-sly-template.prevailingmarketValue="${ @ controller}">
    <div class="container-fluid" id="step1">
        <h2>${controller.formValues.step1Title}</h2>
        <div class="draft draft-text"></div>
        <div class="row header-row">
            <div class="hidden-xs col-sm-3 nowrap">${controller.formValues.C1S1title}</div>
            <div class="hidden-xs col-sm-3 nowrap">${controller.formValues.C2S1title}</div>
            <div class="hidden-xs col-sm-3 text-center">${controller.formValues.C3S1title}</div>
            <div class="hidden-xs col-sm-3" id="contstruction_total">${controller.formValues.C4S1title}</div>
        </div>

        <sly data-sly-list.PMV="${controller.formValues.pmvArr}">
            <sly data-sly-test="${PMV.Subhead}">
                <div class="row">
                    <div class="col-xs-12">${PMV.Subhead}</div>
                </div>

                <div class="row no-border step1">

                    <div class="col-xs-12 col-sm-3 title">
                        ${PMV.feeType}
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input class="form-control construction-values pmv ${controller.pdFormType}"
                            data-feeType="${PMV.feeType}" data-rate="${PMV.rate}" type="text" id="${PMV.feeType}_input"
                            maxlength="" pattern="[0-9]*" inputmode="numeric">

                        <label for="${PMV.feeType}_input">
                            <span class="sr-only">Area in</span>
                            <span class="metres">m</span>
                            <span class="feet">ft</span>
                            <sup>2</sup>
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-3 text-center">
                        <span class="pull-left strong">×</span>
                        $ <span class="rates" id="${PMV.feeType}">
                            ${PMV.rate}
                        </span>
                        <span class="pull-right strong">=</span>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        $ <span class="totals fees-totals step1Total" id="${PMV.feeType}_total"></span>
                    </div>
                </div>

            </sly>
            <sly data-sly-test="${!PMV.Subhead && PMV.borderval == 'Yes' && !PMV.otherstitle}">
                <div class="row  step1">

                    <div class="col-xs-12 col-sm-3 title">
                        ${PMV.feeType}
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input class="form-control construction-values pmv ${controller.pdFormType}"
                            data-feeType="${PMV.feeType}" data-rate="${PMV.rate}" type="text" id="${PMV.feeType}_input"
                            maxlength="" pattern="[0-9]*" inputmode="numeric">
                        <sly data-sly-test="${!PMV.quantityDesc}">
                            <label for=" ${PMV.feeType}_input">
                                <span class="sr-only">Area in</span>
                                <span class="metres">m</span>
                                <span class="feet">ft</span><sup>2</sup>
                            </label>

                        </sly>
                        <sly data-sly-test="${PMV.quantityDesc}">
                            <label for="${PMV.feeType}_input">
                                <small>${PMV.quantityDesc}</small>
                            </label>
                        </sly>

                    </div>
                    <sly data-sly-test="${PMV.rate}">
                        <div class="col-xs-12 col-sm-3 text-center">
                            <span class="pull-left strong">×</span>
                            $ <span class="rates" id="${PMV.feeType}">
                                ${PMV.rate}

                            </span>
                            <span class="pull-right strong">=</span>
                        </div>

                        <div class="col-xs-12 col-sm-3">
                            $ <span class="totals fees-totals step1Total" id="${PMV.feeType}_total"></span>
                        </div>

                    </sly>


                </div>
            </sly>
            <sly data-sly-test="${!PMV.Subhead && !PMV.borderval  && !PMV.otherstitle}">
                <div class="row no-border step1">
                    <div class="col-xs-12 col-sm-3 title">
                        ${PMV.feeType}
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <input class="form-control construction-values pmv ${controller.pdFormType}"
                            data-feeType="${PMV.feeType}" data-rate="${PMV.rate}" type="text" id="${PMV.feeType}_input"
                            maxlength="" pattern="[0-9]*" inputmode="numeric">

                        <label for="${PMV.feeType}_input">
                            <span class="sr-only">Area in</span>
                            <span class="metres">m</span>
                            <span class="feet">ft</span>
                            <sup>2</sup>
                        </label>
                    </div>

                    <div class="col-xs-12 col-sm-3 text-center">
                        <span class="pull-left strong">×</span>
                        $ <span class="rates" id="${PMV.feeType}">
                            ${PMV.rate}
                        </span>
                        <span class="pull-right strong">=</span>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        $ <span class="totals fees-totals step1Total" id="${PMV.feeType}_total"></span>
                    </div>
                </div>
            </sly>
            <sly data-sly-test="${PMV.otherstitle}">
                <div class="row  step1">
                    <div class="col-xs-12 col-sm-3 title">${PMV.otherstitle} </div>

                    <div class="col-xs-12 col-sm-6">
                        <span class="form-control" role="textbox" aria-labelledby="other_other" aria-multiline="true"
                            contenteditable="true"></span>
                        <span id="other_other"><small>${PMV.othersDesc}</small></span>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <label class="sr-only" for="other_input">Other total</label>
                        $ <input class="form-control construction-values long-form pmv ${controller.pdFormType}"
                            data-feeType="other" type="text" id="other_input" pattern="[0-9]*" inputmode="numeric">
                        <span class="hidden totals" id="other_total"></span>
                    </div>
                </div>
            </sly>
        </sly>
        <div class="row finals">
            <div class="col-sm-9 text-right">${controller.formValues.PMValue}</div>
            <div class="col-sm-3">$ <span class="totals step1-final-total step-total"></span></div>
            <div>
                <div class="col-sm-9">
                    <p class="small text-left">
                        <em>Prevailing Market Value</em> (PMV) means the valuation placed by the <em>permit issuer</em>
                        according to <span><a href="" class="pop define" aria-haspopup="true">section 2.2.10.2 of the
                                <em>Building Code</em></a></span> on the cost of constructing and finishing a building.
                        An independent, third-party consultant determines the prevailing market value.
                    </p>
                    <div class="tooltip-content">
                        <strong>2.2.10.2. Division C2.2.10.2. Permit Fees</strong>
                        <ol>
                            <li>Permit fees and application procedures shall be as established by regulation or bylaw
                                made pursuant to the Safety Codes Act.</li>
                            <li>The authority having jurisdiction may place a valuation on work for the purpose of
                                determining fees.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
</template>